/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~material-design-icons/iconfont/material-icons.css";

body{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}

.accent-color{
    color: #ffd740 !important;
}

.accent-color-focused .mat-select:focus{
    color: #ffd740 !important;
}

.accent-color  .mat-select:focus .mat-select-arrow{
    color: #ffd740 !important;
}

.accent-color .mat-form-field-ripple{
    background-color: #ffd740 !important;
}


.white-color {
    color: #fff !important;
}


.primary-color{
    color: #673ab7 !important;
}
.primary-color-focused .mat-select:focus{
    color: #673ab7 !important;
}

.primary-color  .mat-select:focus .mat-select-arrow{
    color: #673ab7 !important;
}

.primary-color .mat-form-field-ripple{
    background-color: #673ab7 !important;
}



.warn-color{
    color: #f44336 !important;


}

.warn-color-focused .mat-select:focus{
    color: #f44336 !important;
}

.warn-color  .mat-select:focus .mat-select-arrow{
    color: #f44336 !important;
}

.warn-color .mat-form-field-ripple{
    background-color: #f44336 !important;
}



.darkgrey-color{
    color: #444444 !important;
}


.accent-bgcolor {
    background-color: #ffd740 !important;
}

.primary-bgcolor {
    background-color: #673ab7 !important;
}

.warn-bgcolor{
    background-color: #f44336 !important;
}
.icon-path{
    fill: #000 !important;
  }
.disabled-icon .icon-path{
    fill: #fff !important;
  }


