

<!-- Tela INICIAL -->
<div *ngIf="step == 0" class="content initial-screen" fxLayout="column" (click)="nextStep()">
    <mat-icon class="blink_me icon-start icon-white" svgIcon="white-wolf"></mat-icon>
    <span class="blink_me wolf-font">Toque para iniciar</span>

</div>

<div *ngIf="step == 1" class="content newgame-screen" fxLayout="column" >
    <mat-icon class="icon-start icon-primary" svgIcon="white-wolf"></mat-icon>
    <h2 class="primary-color wolf-font" >Lobisomem</h2>
    <button class="btn-start" mat-raised-button color="primary" (click)="nextStep()">Novo jogo</button>
    <button class="btn-start" [disabled]="!hasData" mat-stroked-button color="primary" (click)="restart()">Continuar</button>

</div>

<!-- TUTORIAL -->
<div *ngIf="step == 2 && tutorial" (swiperight)="prevTutorial()" (swipeleft)="nextTutorial()" (click)="nextTutorial()" class="tutorials">
    
    <div *ngIf="tutorialScreen == 0" class="tips">
        <div  class="content" fxLayout="column" >

            <div fxFlex>
                
                
                  <p>Como é a sua primeira vez, vou dar umas dicas :)</p>
        
                  
                  
                  
                  <p>Logo abaixo temos um jogador da tela de adicionar</p>
                  <mat-divider class="dividerTutorial"></mat-divider>
                  <div>
        
                  <mat-list>
                        <mat-list-item  >
                           <h4 mat-line class="playerTutorial">Estela</h4>
        
                           
        
                           <button  color="accent" mat-icon-button >
                             
                             <mat-icon >star_border</mat-icon>
                           </button>
                           
                           <button color="warn" mat-icon-button >
                             
                             <mat-icon >close</mat-icon>
                           </button>
                           <mat-divider class="dividerTutorial"></mat-divider>
                         </mat-list-item>
                         
                      
                     </mat-list>
                   </div>
                   <br>
                   <p>Com a <mat-icon class="icon-text" color="accent" >star_border</mat-icon> você favorita um nome para usar novamente depois.</p>
                   <p>Ah, lembre-se que é preciso no mínimo <b>7</b> pessoas para começar um jogo!</p>
        
              
              </div>
              
        
        </div>
    </div>
    <div *ngIf="tutorialScreen == 1" class="tips">
        
        <div  class="content" fxLayout="column" >
            <div fxFlex>
                <p>Esse é um card de jogador, ao segurar você pode abrir configurações e explicação da classe.</p>
        <mat-card  ngClass="bad-border" class="player mat-elevation-z6 playerCardTutorial"  >
           

            <mat-card-title class="title-player warn-color" >
              <mat-icon class="example-tab-icon icon-bad" mat-card-avatar svgIcon="lobisomem"></mat-icon>
               

                <label class="name-class-title aling-left">
                  <label class="name-title" >Estela</label>
                  <label class="class-title" >Lobisomem</label>
                  
                </label>
            </mat-card-title> 
            
            
            <mat-card-content>
              <div >
                  

                <div class="icons-status">

                    <button mat-icon-button >
                        <mat-icon  class="icon-gray example-tab-icon" svgIcon="atk"></mat-icon>
                    </button>
                    <button mat-icon-button >
                        <mat-icon  class="icon-bad example-tab-icon" svgIcon="shield"></mat-icon>
                    </button>

                    

                
               

                </div>

                <div class="side">
                    <button mat-icon-button >
                        <mat-icon  class="icon-neutral example-tab-icon" svgIcon="elder-sign"></mat-icon>
                    </button> 

                    <button mat-icon-button >
                        <mat-icon  class="icon-gray example-tab-icon" svgIcon="paw"></mat-icon>
                    </button>

                    <button mat-icon-button >
                        <mat-icon  class="icon-gray example-tab-icon" svgIcon="rings"></mat-icon>
                    </button>
                      
                      
                      
                      
                     
                    </div>
              
              </div>
              </mat-card-content>
          </mat-card>
          <p>Os icones presentes vão depender das classes colocadas em jogo, ao tocar no icone você deixará marcado.</p>
          <p>A borda indica qual time o jogador <b>Vidente</b> vê ao consultar.</p>
          </div>
          </div>
          
          



    </div>
    <div *ngIf="tutorialScreen == 2" class="tips">
      
        
        <div  class="content" fxLayout="column" >
            <div fxFlex>
                <p>Algumas classes são vistas de forma diferente pela <b>Vidente</b></p>
        <mat-card  ngClass="bad-border" class="player mat-elevation-z6 playerCardTutorial"  >
           

            <mat-card-title class="title-player primary-color" >
              <mat-icon class="example-tab-icon icon-good" mat-card-avatar svgIcon="licano"></mat-icon>
               

                <label class="name-class-title aling-left">
                  <label class="name-title "  >Dennys</label>
                  <label class="class-title" >Licano</label>
                  
                </label>
            </mat-card-title> 
            
            
            <mat-card-content>
              <div >
                  

                <div class="icons-status">

                    <button mat-icon-button >
                        <mat-icon  class="icon-good example-tab-icon" svgIcon="atk"></mat-icon>
                    </button>
                    <button mat-icon-button >
                        <mat-icon  class="icon-gray example-tab-icon" svgIcon="shield"></mat-icon>
                    </button>
                    <button mat-icon-button >
                        <mat-icon  class="icon-good example-tab-icon" svgIcon="cure"></mat-icon>
                    </button>
                    <button mat-icon-button >
                        <mat-icon  class="icon-gray example-tab-icon" svgIcon="venom"></mat-icon>
                    </button>

                    

                
               

                </div>

                <div class="side">
                    

                    

                    <button mat-icon-button >
                        <mat-icon  class="icon-good example-tab-icon" svgIcon="rings"></mat-icon>
                    </button>
                      
                      
                      
                      
                     
                    </div>
              
              </div>
              </mat-card-content>
          </mat-card>
          <p>Nesse caso o <b>Moderador</b> indica que o <b>Licano</b> é do time dos <b>Lobos</b>.</p>
          <p>Essas foram apenas algumas dicas básicas, bom jogo!</p>
          </div>
          </div>
          
          

    </div>

   

    <div class="pagination">
      <div [ngClass]="{'dotActive': tutorialScreen == 0}" class="dot"></div>
      <div [ngClass]="{'dotActive': tutorialScreen == 1}" class="dot"></div>
      <div [ngClass]="{'dotActive': tutorialScreen == 2}" class="dot"></div>

    </div>
  
</div>

<!-- Tela de ADD -->

 <div *ngIf="step == 2 && !tutorial" class="content" fxLayout="column" >
  
    <div fxFlex>
        
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="input-name">
               <input (keyup.enter)="save(jogador)" maxlength="10" matInput placeholder="Jogador"  id="input-player-name" [(ngModel)]="jogador.name" [formControl]="myControl" [matAutocomplete]="auto">
               <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>

          </mat-form-field>
          
           <button  mat-raised-button color="primary" (click)="save(jogador)" >Adicionar</button>

           
          </div>
          
           <label class="subtitles gray-color">Jogadores ({{jogadores.length}})</label>   
          <mat-divider></mat-divider>
          <div class="lista-overflow">

          <mat-list>
                <mat-list-item  *ngFor="let jogador of jogadores">
                   <h4 mat-line>{{jogador.name}}</h4>

                   <button *ngIf="!hasName(jogador.name)" matRipple color="accent" mat-icon-button (click)="fav(jogador.name)">
                     
                     <mat-icon matRipple>star_border</mat-icon>
                   </button>

                   <button *ngIf="hasName(jogador.name)" matRipple color="accent" mat-icon-button (click)="unfav(jogador.name)">
                     
                     <mat-icon matRipple>star</mat-icon>
                   </button>
                   
                   <button matRipple color="warn" mat-icon-button (click)="delete(jogador)">
                     
                     <mat-icon matRipple>close</mat-icon>
                   </button>
                   <mat-divider></mat-divider>
                 </mat-list-item>
                 
              
             </mat-list>
           </div>

      
      </div>
      <div class="btn-footer">
              <button [disabled]="jogadores.length<7" mat-raised-button color="primary" (click)="nextStep()" >Escolher jogadores</button>
              <button mat-stroked-button color="primary" (click)="prevStep()">Voltar</button>
            </div>

</div>

 <!-- Tela ADD CLASSES -->

 <div *ngIf="step == 3" class="content" fxLayout="column" >
  
    <div fxFlex>
        
        
          <h5 class="subtitles" [ngClass]="{'gray-color':times.balancing==0, 'primary-color':times.balancing > 0, 'warn-color': times.balancing < 0 }">Balanceamento: ({{times.balancing}})</h5>
          <h5 class="subtitles gray-color" [ngClass]="{'darkgrey-color':(jogadores.length - times.totalClasses)==0}">Total: ({{times.totalClasses}} / {{jogadores.length}})</h5>
          
          
          
          
          
          <mat-divider></mat-divider>
          
          <div class="lista-overflow-classes">
            

              <div *ngFor="let class of classes">
              <mat-card >
                  <mat-card-header>
                    
                    <mat-icon [ngClass]="{'disabled-icon':class.qnt<=0,'icon-good':class.team === 'good','icon-bad':class.team === 'bad','icon-neutral':class.team === 'neutral'}" mat-card-avatar svgIcon="{{class.icon}}"></mat-icon>
                    <mat-card-title class="darkgray-color" [ngClass]="{'primary-color':class.team === 'good' && class.qnt>0,'warn-color':class.team === 'bad' && class.qnt>0,'accent-color':class.team === 'neutral' && class.qnt>0}">
                      {{class.name}} 
                    
                      
                    </mat-card-title>
                    <!-- <mat-card-subtitle>
                        
                    </mat-card-subtitle> -->
                    <div class="spinner-number darkgray-color" [ngClass]="{'primary-color':class.team === 'good' && class.qnt>0,'warn-color':class.team === 'bad' && class.qnt>0,'accent-color':class.team === 'neutral' && class.qnt>0}">
                        <button *ngIf="class.qnt>0" mat-icon-button (click)="sub(class)"><mat-icon>remove</mat-icon></button>
                          <span *ngIf="class.qnt>0">{{class.qnt}}</span>
                        <button [disabled]="(jogadores.length - times.totalClasses) <= 0" mat-icon-button (click)="add(class)"><mat-icon >add</mat-icon></button>
                    </div> 
                  </mat-card-header>

                  <mat-card-content>
                    <p>
                        {{class.desc}}
                    </p>
                    <p>Balanceamento: {{class.power}}</p>
                    
                    
                  </mat-card-content>
                  <mat-card-actions>
                      
                  </mat-card-actions>
                  
                </mat-card>
                <mat-divider></mat-divider>
              </div>
            
          </div>
       
      </div>
      <div class="btn-footer">
        <button [disabled]="(jogadores.length - times.totalClasses)>0" mat-raised-button color="primary"  (click)="addClasses()">Escolher classes</button>
        <button mat-stroked-button color="primary" (click)="prevStep()">Voltar</button>
      </div>

</div>


<!-- tela de Jogo -->

<div *ngIf="step == 4" class="content" fxLayout="column">

    
  
  <div class="header">
    
    <h5 *ngIf="jogadores.length>0"><label class="primary-color">Aldeia {{times.aldeia}} </label><mat-icon class="icon-text">close</mat-icon><label class="warn-color"> {{times.lobos}} Lobos</label></h5>
    <h5 *ngIf="hasClass('Lider do Culto') && atLastOne('Lider do Culto',jogadores,'dead')" class="accent-color">({{times.cult}}/{{times.lobos+times.aldeia}})</h5>
    <h5 *ngIf="!hasClass('Lider do Culto') || !atLastOne('Lider do Culto',jogadores,'dead')" class="darkgray-color">({{times.lobos+times.aldeia}})</h5>
    
    <div class="btn-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="icon-btn example-tab-icon" [ngClass]="{'icon-good':!night,'icon-bad':night}" svgIcon="menu"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="eliminate()">
          <mat-icon class="icon-btn example-tab-icon"  [ngClass]="{'icon-good':!night,'icon-bad':night}"   svgIcon="eliminate"></mat-icon>
          <span>Eliminar</span>
        </button>
        
        <button mat-menu-item (click)="dayPass()">
          <mat-icon class="icon-btn example-tab-icon" [ngClass]="{'icon-good':!night,'icon-bad':night}" *ngIf="night" svgIcon="day"></mat-icon>
          <mat-icon class="icon-btn example-tab-icon" [ngClass]="{'icon-good':!night,'icon-bad':night}" *ngIf="!night" svgIcon="night"></mat-icon>
          <span *ngIf="night">Dia</span>
          <span *ngIf="!night">Noite</span>
        </button>

        <button mat-menu-item (click)="showOrder()">
          <mat-icon class="icon-btn example-tab-icon"  [ngClass]="{'icon-good':!night,'icon-bad':night}"   svgIcon="order"></mat-icon>
          <span>Ordem</span>
        </button>

        <button mat-menu-item (click)="resetMatch()">
          <mat-icon class="icon-btn example-tab-icon"  [ngClass]="{'icon-good':!night,'icon-bad':night}"   svgIcon="undo"></mat-icon>
          <span>Reiniciar</span>
        </button>

        <button mat-menu-item (click)="exit()">
            <mat-icon class="icon-btn example-tab-icon"  [ngClass]="{'icon-good':!night,'icon-bad':night}"   svgIcon="exit"></mat-icon>
            <span>Sair</span>
        </button>

        
      </mat-menu>
              
    </div>
  </div> 
        
        <mat-divider></mat-divider>
        
        <!-- Card Jogador -->
      <div  class="lista-overflow-game" *ngIf="!showPlayer">
        <div  *ngFor="let jogador of jogadores">
          
          
          <mat-card  (press)="{event:open(jogador), time:500}" [ngClass]="{'lupin-border':jogador.job.name === 'Lupino','lycan-border':jogador.job.name === 'Licano','good-border':jogador.job.team === 'good' ||jogador.job.name === 'Lider do Culto' ||jogador.job.name === 'Psicopata', 'bad-border':jogador.job.team === 'bad', 'dead':jogador.dead }" class="player mat-elevation-z6"  >
             
  
              <mat-card-title class="title-player"  [ngClass]="{'primary-color':jogador.job.team === 'good', 'warn-color':jogador.job.team === 'bad','accent-color':jogador.job.team === 'neutral'}">
                <mat-icon class="example-tab-icon" *ngIf="!jogador.dead" [ngClass]="{'icon-good':jogador.job.team === 'good','icon-bad':jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral'}" mat-card-avatar svgIcon="{{jogador.job.icon}}"></mat-icon>
                <mat-icon class="example-tab-icon" *ngIf="jogador.dead && jogador.graveStyle == 1" mat-card-avatar svgIcon="grave1"></mat-icon>  
                <mat-icon class="example-tab-icon" *ngIf="jogador.dead && jogador.graveStyle == 2" mat-card-avatar svgIcon="grave2"></mat-icon>  
                <mat-icon class="example-tab-icon" *ngIf="jogador.dead && jogador.graveStyle == 3" mat-card-avatar svgIcon="grave3"></mat-icon>  
  
                  <label class="name-class-title">
                    <label class="name-title" >{{jogador.name}}</label>
                    <label class="class-title" >{{jogador.job.name}}</label>
                    
                  </label>
                  <!-- <label *ngIf="!night">
                      <label>{{jogador.name}}</label>
                  </label> -->
              </mat-card-title> 
              
              
              <mat-card-content>
                <!-- <div *ngIf="jogador.dead" class="extra">
                    <button mat-icon-button (click)="changeStatus(jogador, 'dead')">
                        <mat-icon  class="example-tab-icon" svgIcon="revive"></mat-icon>
                    </button>
  
                </div> -->
                <div >
                    
  
                  <div class="icons-status">
                  
                  <button  *ngIf="!night && jogador.job.name !== 'Príncipe' && !jogador.dead" mat-icon-button (click)="changeStatus(jogador, 'lynch')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.lynch, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="vote"></mat-icon>
                  </button>
  
                  <button   *ngIf="jogador.job.name === 'Raposa' && night && !jogador.dead" mat-icon-button (click)="changeStatus(jogador, 'foxPower')">
                    <mat-icon [ngClass]="{'icon-gray':jogador.foxPower, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="fox-tail"></mat-icon>
                  </button>
  
                  <button [disabled]="jogador.attacked && jogador.job.name === 'Gigante'" *ngIf="night && !jogador.dead"  mat-icon-button (click)="changeStatus(jogador, 'target')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.target, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="atk"></mat-icon>
                  </button>
  
                  <button   *ngIf="jogador.job.name === 'Gigante' && jogador.attacked  && night && !jogador.dead"  mat-icon-button (click)="changeStatus(jogador, 'toughTarget')">
                    <mat-icon [ngClass]="{'icon-gray':!jogador.toughTarget, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="double-claw"></mat-icon>
                  </button>
  
  
                  <button  *ngIf="hasClass('Guardião') && night && !jogador.dead && !jogador.dead && atLastOne('Guardião',jogadores,'dead') && !jogador.saved" mat-icon-button (click)="changeStatus(jogador, 'save')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.save, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="shield"></mat-icon>
                  </button>   
                  <button  *ngIf="hasClass('Corvo') && !jogador.dead && !jogador.dead && atLastOne('Corvo',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'crowMark')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.crowMark, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="feather"></mat-icon>
                  </button>
                  <button  *ngIf="hasClass('Mago') && !jogador.dead && !jogador.dead && atLastOne('Mago',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'spell')">
                      <mat-icon  [ngClass]="{'icon-gray':!jogador.spell, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="spell"></mat-icon>
                    </button>            
                      
                    
                  <button *ngIf="hasClass('Bruxa') && statusUseds.curePotion === 0  && night && !jogador.dead && atLastOne('Bruxa',jogadores,'dead')|| hasClass('Bruxa') && jogador.curePotion  && night && !jogador.dead && atLastOne('Bruxa',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'curePotion')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.curePotion, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="cure"></mat-icon>
                  </button>
                  <button *ngIf="hasClass('Bruxa') && statusUseds.deathPotion === 0  && night && !jogador.dead && atLastOne('Bruxa',jogadores,'dead')|| hasClass('Bruxa') && jogador.deathPotion  && night && !jogador.dead && atLastOne('Bruxa',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'deathPotion')">
                      <mat-icon [ngClass]="{'icon-gray':!jogador.deathPotion, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="venom"></mat-icon>
                  </button> 
                  
                  <button  *ngIf="hasClass('Psicopata') && !jogador.dead && night && !jogador.dead && atLastOne('Psicopata',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'psycho')">
                      <mat-icon  [ngClass]="{'icon-gray':!jogador.psycho, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="knife"></mat-icon>
                    </button>

                  <button  *ngIf="hasClass('Maçom') && !jogador.dead" mat-icon-button (click)="changeStatus(jogador, 'mason')">
                    <mat-icon  [ngClass]="{'icon-gray':!jogador.mason, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="masonry"></mat-icon>
                  </button>
  
                  </div>

                  <div class="side">
                      <button  *ngIf="hasClass('Lider do Culto') && jogador.job.name !== 'Lider do Culto'  && night && !jogador.dead && atLastOne('Lider do Culto',jogadores,'dead')" mat-icon-button (click)="changeStatus(jogador, 'enchant')">
                        <mat-icon  [ngClass]="{'icon-gray':!jogador.enchant,'icon-neutral':jogador.enchant }" class="example-tab-icon" svgIcon="elder-sign"></mat-icon>
                      </button>  
      
      
                      <button [disabled]="jogador.dead" *ngIf="hasClass('Cachorro') && jogador.job.name !== 'Cachorro' && statusUseds.buddy === 0 && !jogador.dead|| hasClass('Cachorro') && jogador.job.name !== 'Cachorro' && jogador.buddy" mat-icon-button (click)="changeStatus(jogador, 'buddy')">
                        <mat-icon  [ngClass]="{'icon-darkgray':jogador.dead,'icon-gray':!jogador.buddy, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="paw"></mat-icon>
                      </button>
      
                      
                      <button [disabled]="jogador.dead" *ngIf="hasClass('Cupido') && statusUseds.love < 2 && !jogador.dead|| hasClass('Cupido') && jogador.love" mat-icon-button (click)="changeStatus(jogador, 'love')">
                        <mat-icon [ngClass]="{'icon-darkgray':jogador.dead,'icon-gray':!jogador.love, 'icon-good':jogador.job.team === 'good', 'icon-bad': jogador.job.team === 'bad','icon-neutral':jogador.job.team === 'neutral' }" class="example-tab-icon" svgIcon="rings"></mat-icon>
                      </button> 
                      </div>
                
                </div>
                </mat-card-content>
            </mat-card>

        </div>
          
      </div>

        <!-- Tela Editar Jogador -->

        <div *ngIf="showPlayer" class="player-edit">
            <mat-card  [ngClass]="{'dead':jogadores[playerEditIndex].dead}">
                <mat-card-header>
                   

                    <mat-icon [ngClass]="{'icon-good':jogadores[playerEditIndex].job.team === 'good','icon-bad':jogadores[playerEditIndex].job.team === 'bad','icon-neutral':jogadores[playerEditIndex].job.team === 'neutral'}" mat-card-avatar svgIcon="{{jogadores[playerEditIndex].job.icon}}"></mat-icon>  
                  
                  <mat-card-title class="title-player">{{jogadores && jogadores[playerEditIndex].name}}</mat-card-title>
                  
                </mat-card-header>

                

                <mat-card-content>
                  <mat-form-field class="test" [ngClass]="{'primary-color':jogadores[playerEditIndex].job.team === 'good', 'warn-color':jogadores[playerEditIndex].job.team === 'bad','accent-color':jogadores[playerEditIndex].job.team === 'neutral'}">
                    <mat-label [ngClass]="{'primary-color':jogadores[playerEditIndex].job.team === 'good', 'warn-color':jogadores[playerEditIndex].job.team === 'bad','accent-color':jogadores[playerEditIndex].job.team === 'neutral'}">Classe</mat-label>
                    <mat-select [disabled]='jogadores[playerEditIndex].dead' [ngClass]="{'primary-color':jogadores[playerEditIndex].job.team === 'good', 'warn-color':jogadores[playerEditIndex].job.team === 'bad','accent-color':jogadores[playerEditIndex].job.team === 'neutral'}"   [(value)]="jogadores[playerEditIndex].job" >

                              <mat-option  (click)="teamsUp()" *ngFor="let class_jogador of classes" [value]="class_jogador">
                                
                                <label [ngClass]="{'primary-color':class_jogador.team === 'good', 'warn-color':class_jogador.team === 'bad','accent-color':class_jogador.team === 'neutral'}">{{class_jogador.name}}</label>
                              </mat-option>
                      </mat-select>

                  </mat-form-field>

                

                  
                  <p>{{jogadores && jogadores[playerEditIndex].job.desc}}</p>
                  <p >Ícone: <span *ngIf="jogadores[playerEditIndex].job.skills.length <= 0" >Nenhum</span><mat-icon  *ngFor="let ico of jogadores[playerEditIndex].job.skills" [ngClass]="{'icon-good':jogadores[playerEditIndex].job.team === 'good','icon-bad':jogadores[playerEditIndex].job.team === 'bad','icon-neutral':jogadores[playerEditIndex].job.team === 'neutral'}" class="example-tab-icon" svgIcon="{{ico}}"></mat-icon> </p>

                  <!-- <mat-checkbox (change)="kill()" [(ngModel)]="jogadores[playerEditIndex].dead" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Matar</mat-checkbox> -->

                <!-- <p [ngClass]="jogadores[playerEditIndex].job.team === 'good' ? 'primary-color' : 'warn-color'" >Status do jogador:</p> -->
                <div class="status-player">
                  <!-- <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' [(ngModel)]="jogadores[playerEditIndex].target" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Atacar</mat-checkbox>
                  <mat-checkbox *ngIf="jogadores[playerEditIndex].job.name === 'Gigante'" [disabled]='jogadores[playerEditIndex].dead' [(ngModel)]="jogadores[playerEditIndex].toughTarget" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Segundo Ataque</mat-checkbox>
                  <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' *ngIf="hasClass('Guardião')" [(ngModel)]="jogadores[playerEditIndex].save" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Proteger</mat-checkbox>
                  <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' *ngIf="hasClass('Cupido')" [(ngModel)]="jogadores[playerEditIndex].love" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Amor</mat-checkbox>
                  <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' *ngIf="hasClass('Encantador')" [(ngModel)]="jogadores[playerEditIndex].enchant" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Encantar</mat-checkbox>
                  <mat-checkbox (change)="kill()" [(ngModel)]="jogadores[playerEditIndex].dead" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Matar</mat-checkbox>

                  <div *ngIf="jogadores[playerEditIndex].job.name === 'Bruxa'">
                    <p [ngClass]="jogadores[playerEditIndex].job.team === 'good' ? 'primary-color' : 'warn-color'" >Habilidades:</p>
                    <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' [(ngModel)]="jogadores[playerEditIndex].curePotion" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Poção da Cura</mat-checkbox>
                    <mat-checkbox [disabled]='jogadores[playerEditIndex].dead' [(ngModel)]="jogadores[playerEditIndex].deathPotion" class="example-tab-icon" [color]="jogadores[playerEditIndex].job.team === 'good' ? 'primary' : 'warn'">Poção da Morte</mat-checkbox>
                  </div> -->


                  <mat-checkbox  [color]="getColor(jogadores[playerEditIndex].job.team)" (change)="kill()" [(ngModel)]="jogadores[playerEditIndex].dead" class="example-tab-icon" >Matar</mat-checkbox>
                  <!-- [ngClass]="{'primary':jogadores[playerEditIndex].job.team === 'good', 'warn':jogadores[playerEditIndex].job.team === 'bad','accent':jogadores[playerEditIndex].job.team === 'neutral'}" -->
                </div> 
                <!-- jogadores[playerEditIndex].job.team === 'good':'primary' -->

                </mat-card-content>
                <mat-card-actions class="footer-card-player">
                  <button mat-button [ngClass]="{'primary-color':jogadores[playerEditIndex].job.team === 'good', 'warn-color':jogadores[playerEditIndex].job.team === 'bad','accent-color':jogadores[playerEditIndex].job.team === 'neutral'}" (click)="voltar()">Voltar</button>
                </mat-card-actions>
              </mat-card>
        </div>

</div>

<div class="modal-help" *ngIf="orderFlag" (click)="showOrder()">
    <mat-card class="card-help" (click)="$event.stopPropagation()">
        
          <div>
            Ordem de chamar
          </div>
          <mat-divider></mat-divider>
            <button class="close-icon" [ngClass]="{'primary-bgcolor':!night,'warn-bgcolor':night}"  mat-icon-button (click)="showOrder()">
                     
                <mat-icon >close</mat-icon>
            </button>
        
        <mat-card-content class="content-help" >
            <mat-list role="list">
                
                <mat-list-item role="listitem"  *ngFor="let class_jogador of classesHelp" [ngClass]="{'primary-color':class_jogador.team === 'good', 'warn-color':class_jogador.team === 'bad','accent-color':class_jogador.team === 'neutral'}"><mat-checkbox (change)="firstNightCheck()" class="example-tab-icon" [color]="getColor(class_jogador.team)">{{class_jogador.name}}<span *ngIf="class_jogador.oneTime"> (1x)</span><span *ngIf="!atLastOne(class_jogador.name,jogadores,'dead') && hasClass('Lobisomem') || !atLastOne(class_jogador.name,jogadores,'dead') && class_jogador.name != 'Lobisomem' "> (Morto)</span></mat-checkbox></mat-list-item>
              </mat-list>
              
        </mat-card-content>
       
      </mat-card>
</div>


    
